.Image {
    position: absolute;
    height: 400px;
    width: 400px;
}
.fade-enter {
    opacity: 0.01;
    transition: all 0.5s ease-in;
}
.fade-enter.fade-enter-active {
    opacity: 1;
}
.fade-leave {
    opacity: 1;
    transition: all 0.5s ease-in;
}
.fade-leave.fade-leave-active {
    opacity: 0;
    max-height: 0;
}
.link-active {
    color: #bbbbbb;
    text-decoration: none;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slide-up {
    from {
        opacity: 0;
        transform: translatey(-5px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes slide-down {
    from {
        opacity: 0;
        transform: translatey(-100%);
    }
    to {
        opacity: 1;
        transform: translatey(0);
    }
}
@keyframes sq {
    0% {
        -webkit-filter: url(  "#s0");
    }
    25% {
        -webkit-filter: url(  "#s1");
    }
    50% {
        -webkit-filter: url(  "#s2");
    }
    75% {
        -webkit-filter: url(  "#s3");
    }
    100% {
        -webkit-filter: url(  "#s4");
    }
}
.symbols {
    position: fixed;
    z-index: -1;
}
@keyframes filters {
    0% {
        -webkit-filter: url(#goo) url(#f_red);
    }
    100% {
        -webkit-filter: url(#goo) url(#f_red2);
    }
}
// @keyframes filters {
//     0% {
//         -webkit-filter: url(#f_red1);
//     }
//     25% {
//         -webkit-filter: url(#f_red2);
//     }
//     75% {
//         -webkit-filter: url(#f_red3);
//     }
//     100% {
//         -webkit-filter: url(#f_red4);
//     }
// }
.f_red {
    @include media($md) {
        svg {
            -webkit-filter: url(#f_red);
        }
    }
}
.f_blue {
    @include media($md) {
        svg {
            -webkit-filter: url(#f_blue);
        }
    }
}
.f_purple {
    @include media($md) {
        svg {
            -webkit-filter: url(#f_purple);
        }
    }
}
.f_cyan {
    @include media($md) {
        svg {
            -webkit-filter: url(#f_cyan);
        }
    }
}