@mixin media($min, $max: null) {
	 @if ($max){
		@media all and (min-width: $min) and (max-width: $max) {
			 @content;
		}
	}
	@else {
		 @media all and (min-width: $min){
			@content;
		}
	}
}
@mixin landscape {
	 @media all and (orientation: landscape){
		@content;
	}
}
.container {
	$sm: 768;
	$md: 920px;
	$lg: 1200px;
	max-width: 90%;
	margin: auto;
	@include media($sm) {
		max-width: $sm;
	}
	@include media($md) {
		max-width: $md;
	}
	@include media($lg) {
		max-width: $lg;
	}
}
.font {
	font-family: 'Raleway', sans-serif;
}
.flex {
	display: flex;
}
.center {
	justify-content: center;
	align-items: center;
}
.shadow {
	box-shadow: -5px -5px 0 $black2,5px 5px 0 $black2;
}