.Page {
    width: 100vw;
    height: 100%;
    overflow: hidden;
}
header,
main {
    width: 100%;
}
header {
    pointer-events: none;
    background: $black;
    height: 40vh;
    opacity: 0;
    // js turns it on
}
main {
    @extend .container;
    background: $white;
    min-height: 60vh;
}