li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    @include media($lg) {
        overflow: hidden;
    }
    height: 100vh;
}
a {
    color: inherit;
    text-decoration: none;
}
::selection {
    background: $yellow;
    color: $black;
}
button {
    cursor: pointer;
}
button,
input {
    border: 0;
    border-radius: 0 !important;
}
input {
    &:focus {
        border-bottom: 1px solid blue;
    }
}
input[type="email"] {
    text-transform: none;
}
button:disabled {
    cursor: auto;
    opacity: 0.8;
    &:hover {
        @extend .shadow;
        animation: none;
    }
}