$sm: 768px;
$md: 920px;
$lg: 1200px;
$xl: 1400px;
$black: #0c0c0c; // $black: #212121; // $red: #D41F26;
$red: #f44336;
$white: #fff;
$yellow: #FFE081;
$grey: #bdbdbd;
$tan: #d2b48c;
$cyan: #03a9f4;
$black2: #545454;