@import "_form.scss";
.circles {
    border-radius: 50%;
    -webkit-filter: drop-shadow(2px 2px 0 $black2) drop-shadow(-2px -2px 0 $black2);
    transition: fill 0.3s ease-in;
    // &:hover {
    //     -webkit-filter: none;
    // }
}
.float {
    @include media($sm) {
        &:nth-child(1) {
            float: left;
        }
        &:after {
            display: block;
            content: "";
            clear: both;
        }
    }
    @include media($sm,$lg) {
        &:nth-child(1) {
            padding-left: 15px;
        }
    }
}
.detail {
    @extend .font;
    // -webkit-filter:url(#f_cyan2);
    font-weight: 400;
    letter-spacing: 1.6px;
    margin-left: 30px;
    text-transform: uppercase;
    @include media($md) {
        font-size: 25px;
        letter-spacing: 3px;
    }
}
.links {
    .link_item {
        @extend .flex;
        align-items: center;
        margin: 50px 0;
        padding-left: 30px;
        a {
            @extend .circles;
        }
        svg {
            // border-radius: 50%;
            overflow: visible;
            transition: all 0.2s;
            fill: $white;
            circle {
                fill: $black;
            }
        }
        > span {
            width: 50%;
            flex: 1;
            font-size: 16px;
            @include media(0px,$sm) {
                position: relative;
                top: -5px;
            }
        }
        @include media($sm) {
            svg {
                &:hover {
                    fill: $black;
                    circle {
                        fill: #fff;
                    }
                }
            }
        }
    }
}
.bolder {
    // font-weight: 300;
}
.blue {
    color: blue;
}
.tel_aviv {
    // -webkit-filter:url(#f_cyan2);
    color: blue;
}
.mark {
    @extend .blue;
    position: relative;
    bottom: 2px;
    margin: 0 2px;
}
main.contact_page {
    .slogan {
        margin-top: 30px;
    }
}
.hidden {
    display: none;
}