.form_box {
    height: 60vh;
    width: 90%;
    margin: auto;
    @include media($sm) {
        width: 50%;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 290px;
        margin-top: 15px;
    }
}
form {
    @include media(0px,$sm) {
        padding-left: 15px;
        // padding-left: 55px;
        margin-top: 50px;
        max-width: 295px;
        margin-left: auto;
        @include landscape {
            padding-bottom: 30px;
            justify-content: flex-end;
            margin-left: auto;
            max-width: 300px;
        }
    }
    @include media($sm) {
        width: 50%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    > div {
        display: flex;
        margin: 15px 0;
        min-width: 255px;
        position: relative;
    }
    input {
        color: blue;
        text-transform: capitalize;
        border-bottom: 1px solid $black;
    }
    button,
    input {
        width: 100%;
        -webkit-apperance: none;
        apperance: none;
        font-size: 16px;
        padding: 10px 12px;
        letter-spacing: 1.1px;
        @extend .font;
        outline: 0;
        font-weight: 300;
        max-width: 100%;
    }
    button {
        background: black;
        color: $white;
        padding: 15px;
        min-width: 255px;
        margin: 15px auto auto;
        // -webkit-filter:url(#f_blue);
        @extend .shadow;
        position: relative;
        @include media($md) {
            &:hover {
                box-shadow: -5px -5px 0 blue,5px 5px 0 blue;
                animation: sq 0.3s alternate infinite;
            }
        }
    }
}
.btn {
    color: $black;
}
.button_text {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px auto auto;
    right: 0;
    bottom: 0;
    color: #fff;
    text-align: center;
    @extend .flex;
    @extend .center;
    pointer-events: none;
    z-index: +500;
    padding: 15px;
    font-size: 16px;
    letter-spacing: 1.1px;
    @extend .font;
    outline: 0;
    font-weight: 300;
}