.slogan {
    line-height: 1.3;
    @extend .font;
    user-select: none;
    // -webkit-filter: url(#f_red);
    // float: left;
    color: $black2;
    font-weight: 900;
    text-align: right;
    font-size: 75px;
    // -webkit-filter: url(  "#f_red");
    @include media($sm) {
        font-size: 95px;
        width: 40%;
        // padding-top: 65px;
    }
    @include media($lg) {
        font-size: 120px;
    }
    span {
        svg {
            // makes svg shrinked?
            overflow: visible;
            max-height: 1px;
        }
        display: block;
        @include media(0px,$sm) {
            &:nth-child(1) {
                text-align: left;
            }
            &:nth-child(2) {
                text-align: center;
            }
        }
        @include media($sm) {
            &:nth-child(1) {
                text-align: center;
            }
            &:nth-child(2) {
                // -webkit-filter:url(#f_cyan);
                // text-align: center;
            }
        }
    }
}
.slogan.animated {
    // animation: filters 0.3s 2s alternate infinite;
    // animation: redbox 0.3s forwards ease-in;
}
@keyframes redbox {
    from {
        -webkit-filter:none;
    }
    to {
        -webkit-filter: url("#f_red")
    }
}
.contact {
    @extend .slogan;
    // font-size: smaller;
    @include media(0px,$sm) {
        font-size: 40px;
    }
}