.logo {
    @extend .flex;
    @extend .center;
    height: 100%;
    pointer-events: all;
    @include media($sm,$xl) {
        // padding-left: 50%;
        @include media($sm,$xl) {
             @media all and (max-height:650px){
                // padding-left: 40%;
            }
        }
    }
    @include media($xl) {
        // padding-left: 15%;
    }
    // @include media($md,$lg) {
    //     padding-left: 35%;
    // }
    svg {
        position: relative;
        top: 30px;
        @include media(0px,$sm) {
             @include landscape{
                top: 0;
            }
        }
        @include media($sm) {
            top: 0;
        }
        width: 100%;
        height: 100%;
        max-width: 450px;
        overflow: visible;
    }
    svg text {
        user-select: none;
        fill: $white;
        // fill: transparent;
        // stroke: $white;
        @extend .font;
        font-weight: 100;
        font-size: 100px;
        // stroke-dasharray: 1000;
        // stroke-dashoffset: 1000;
        // text-align: center;
        // stroke-width: 2;
    }
}