.animation .makers {
    opacity: 1;
    span:nth-child(1) {
        animation: fadeIn 0.2s 0.2s forwards;
    }
    span:nth-child(2) {
        animation: fadeIn 0.2s 0.3s forwards;
    }
}
.animation .things {
    animation: fadeIn 0.2s 0.7s forwards;
}
main.homepage {
    @include media($sm) {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
}
header {
    position: relative;
    &:before {
        // content: "";
        -webkit-filter:url(#grayscale);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-image: url('../svg/bg6.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        // background-size: 500px;
        background-position: 0 50%;
        @include media($sm,$xl) {
            width: 50%;
        }
        // @include media($md) {
        //     width: 35%;
        // }
        @include media($xl) {
            width: 40%;
        }
        @include media($sm,$xl) {
             @media all and (max-height:650px){
                width: 40%;
            }
        }
    }
}
div#canvas_box {
    display: none;
    position: absolute;
    left: 0;
    width: 50%;
    bottom: 0;
    background: $black;
    z-index: +1;
    height: 100%;
}