nav {
    position: fixed;
    z-index: +500;
    top: 15px;
    right: 30px;
    transform: translate(5%);
    opacity: 0;
    @include media($md) {
        max-width: 1200px;
        left: 0;
        text-align: right;
        margin: auto;
    }
    ul {
        li {
            a {
                // color: #bbbbbb;
                color: $yellow;
                display: block;
                @extend .font;
                font-weight: 500;
                font-size: 16px;
                line-height: 2;
                text-transform: uppercase;
                font-size: 12px;
                letter-spacing: 1.2px;
            }
            a.link-active {
                display: none;
                color: $yellow;
            }
        }
    }
}