.banner {
    transform: translate(-30px);
    user-select: none;
    opacity: 0;
    @extend .font;
    font-weight: 400;
    font-size: 55px;
    color: $black;
    line-height: 1.3;
    width: 100%;
    @include media(0px,$sm) {
        margin-top: 15px;
        @include landscape {
            left: inherit;
            right: 0;
        }
    }
    @include media($sm) {
        width: 60%;
        margin-left: auto;
    }
    svg {
        max-height: 100px;
        margin-right: auto;
        width: 60%;
        overflow: visible;
        transition: all 0.2s;
        @include media(0px,$md) {
            // box-shadow: -5px -5px 0 $red,5px 5px 0 $yellow;
            -webkit-filter:drop-shadow(-5px -5px 0 $black2) drop-shadow(5px 5px 0 $black2);
        }
        @include media($md) {
            width: 50%;
            // animation: filters 20s infinite;
            // -webkit-filter: url(#f_cyan);
            // -webkit-filter: url(#f_blue);
            -webkit-filter:drop-shadow(-5px -5px 0 $black2) drop-shadow(5px 5px 0 $black2);
            &:hover {
                // -webkit-filter: url(#f_cyan);
            }
        }
    }
    .svg_rect {
        position: absolute;
        overflow: visible;
    }
}
.svg-text {
    visibility: hidden;
    display: none;
}
.st0 {
    fill: #212121;
    stroke: #000000;
}
.banner_on {
    // REVIEW: make svg filter not webkit
    transform: translate(0);
    opacity: 1;
    -webkit-filter: url(#grayscale);
    transition: transform, opacity 0.3s ease-in;
}