.loader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: calc(40vh - 5px);
    z-index: -1;
    div#bar {
        position: absolute;
        left: 0;
        right: 0;
        top: calc(40vh - 5px);
        height: 5px;
        width: 100vw;
        background: $black;
        transform-origin: left;
        transform: scalex(0);
    }
    div#bg {
        width: 100vw;
        height: 40vh;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: $black;
        transform: scaley(0);
        transform-origin: bottom;
    }
}